main {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  z-index: 999;
  background-color: #ffc0cb94;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--primary-400);;
  border-bottom: 16px solid var(--primary-400);;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.find_type_wrapper {
  position: absolute;
  display: flex;
  gap: 4px;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 6px;
  border-radius: 20px;
  background-color: var(--grey-100);
  height: 36px;
  box-shadow: 4px 4px 20px 0px #7676764d;
  z-index: 9999;
}

@media (min-width: 1200px) {
  .find_type_wrapper>label {
    flex: 1;
  }
}


.popup_info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}


/* popup  style */
.popup_bikes,
.popup_parks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 5px 6px;
  gap: 12px;
  background-color: var(--primary-100);
  color: var(--primary-500);
}

/* .popup_bikes.few,
.popup_parks.few {
  background-color: var(--alert-200);
  color: var(--alert-600);
} */

/* .popup_bikes.none,
.popup_parks.none {
  background-color: var(--grey-200);
  color: var(--grey-500);
} */


.find_type {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 4px 12px;
  color: var(--primary-400);
  background-color: var(--grey-100);
}

@media (min-width: 1200px) {
  .find_type {
    padding: 8px 18px;
    font-size: 18px;
  }
}

input[name="find_type"]:checked~button.find_type {
  background-color: var(--primary-400);
  color: var(--grey-100);
}

.find_type_img {
  display: inline-block;
  width: 18px;
  height: 18px;
}

@media (min-width: 1200px) {
  .find_type_img {
    width: 24px;
    height: 24px;
  }
}

.find_type_img img {
  width: 100%;
  height: 100%;
}


button.geolocation {
  position: absolute;
  z-index: 9999;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-400);
  border-radius: 50%;
  box-shadow: 4px 4px 20px 0px #f2f2f24d;
  animation: geolocationHint 0.5s ease-in-out 2 alternate;
}

@keyframes geolocationHint {
  from {
    background-color: var(--primary-300);
  }

  to {
    background-color: var(--primary-400);

  }
}

@media (min-width: 1200px) {
  button.geolocation {
    width: 45px;
    height: 45px;
  }

  button.geolocation img {
    width: 30px;
    height: 30px;
  }
}

button.geolocation:active {
  background-color: var(--primary-300);
}

button.geolocation:disabled {
  background-color: var(--grey-300);
  box-shadow: 4px 4px 20px 0px #ffffff4d;
}